html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}

/* ANA LAYOUT */
.main-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* HARİTA */
#map {
  flex: 1;
  height: 100%;
}

/* SAĞ PANEL */
.side-panel {
  width: 360px;
  background: #0b0b0b;
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
