* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* HARİTA */
#map {
  flex: 3;
  height: 100%;
  background: #050505;
}

/* SAĞ PANEL */
.sidebar {
  flex: 1;
  background: #0e0e0e;
  color: #e0e0e0;
  padding: 20px;
  overflow-y: auto;
}

.header h1 {
  font-size: 28px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.panel-section {
  margin-bottom: 25px;
}

.panel-section h2 {
  font-size: 14px;
  text-transform: uppercase;
  color: #aaa;
  margin-bottom: 8px;
}

.panel-section input {
  width: 100%;
  padding: 10px;
  background: #1a1a1a;
  border: 1px solid #333;
  color: #fff;
}

.panel-section ul {
  padding-left: 18px;
}

.panel-section li {
  margin-bottom: 6px;
  font-size: 14px;
}

.critical {
  color: #ff3b3b;
  font-weight: bold;
}

